.emp{
    background: linear-gradient(to right, #3b0c81 50%, #0202b4 100%);
    margin: 20px 100px;
    color: whitesmoke;
    padding-bottom: 20px;
}
.oneemployee{
    margin: 0px;
}
.emp h4{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-top: -10px;
    margin-bottom: 20px;
}
.delete button{
    margin-top: 30px;
    margin-bottom: -50px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: whitesmoke;
    transition: background-color;
    transition-duration: 0.8s;
}
.increase button{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: whitesmoke;
    transition: background-color;
    transition-duration: 0.8s;
    margin-bottom: -60px;
}
.emp button:hover{
    background-color: white;
    color: #0202b4;
}
.consumersofemployeenav th{
    font-size: 25px;
    padding: 0px 100px;
}
.consumersofemployeenav{
    padding: 0px 100px 5px 100px;
}
.consumersofemployee{
    padding: 0px 100px;
    max-height: 325px;
    height: auto;
    overflow-x:auto;
    border: 1px solid rgba(255,255,255,0.3);
    
}
.consumersofemployee td{
    text-align: center;
    vertical-align:middle;
    font-size: 18px;
    padding: 20px 135px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
