.formlogin{
    background-color: #fff;
    width: 35%;
    margin: 50px auto;
    text-align: center;
    padding: 70px 0 70px 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(41, 15, 210, 0.458);
    background:linear-gradient(to right, #3b0c81 50%, #0202b4 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formlogin label{
    
    font-size: 25px;
}
.formlogin input{
    width:220px;
    height: 30px;
    margin:15px;
}
.formlogin h1{
    margin: 20px;
    font-size: 25px;
}
.formlogin label,button,h1{
    color:white;
}

.formlogin button{
    font-size: 30px;
    padding: 8px 16px;
    background: transparent;
    border:1px solid white;
    border-radius: 5px;
    margin-top: 20px;
}
.message{
    font-size: 15px;
    margin-top: -30px;
}
.formlogin h5{
    color:white;
    font-size: 14px;
}