.formconsumer{
    background:linear-gradient(to bottom, #3b0c81 50%, #0202b4 100%);
    width: 35%;
    margin: 50px auto;
    text-align: center;
    padding: 70px 0 70px 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(41, 15, 210, 0.458);
    background-color: rgb(88, 18, 229);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formconsumer label{
    font-size: 25px;
}
.formconsumer input{
    width:220px;
    height: 30px;
    margin:20px;
}
.formconsumer h2{
    margin: 20px;
    font-size: 25px;
    color:black;
}
.formconsumer label,button{
    color:white;
}

.formconsumer button{
    font-size: 30px;
    padding: 8px 16px;
    background: transparent;
    border:1px solid white;
    border-radius: 5px;
    margin-top: 20px;
}
.message{
    font-size: 15px;
}